**/.vs
**/.idea
**/.DS_Store
**/__pycache__

**/venv

Image_Enhancement/data/dataset/

License_Plate_Chars_Recognize/data/dataset/
License_Plate_Chars_Recognize/data/log/
License_Plate_Chars_Recognize/data/model/

License_Plate_Localization/data/dataset/
License_Plate_Localization/data/detection/
License_Plate_Localization/data/log/
License_Plate_Localization/data/model/
License_Plate_Localization/data/annotations/

Optical_Char_Recognize/data/model/