.idea
.DS_Store
/__pycache__
*/__pycache__
venv
/License_Plate_Chars_Recognize/.idea/
/License_Plate_Chars_Recognize/.vs/
/License_Plate_Chars_Recognize/LPCR_DataSet/
/License_Plate_Chars_Recognize/LPCR_DataSet/test_images/
/License_Plate_Chars_Recognize/LPCR_DataSet/train_images/
/Image_Enhancement/IE_DataSet/
/Source_Pict/
